## Atividade Prática: base de dados CraftBeer
- https://www.kaggle.com/nickhould/craft-cans

### 1) Importando pandas

In [1]:
import pandas as pd

### 2) Leitura dos dados

In [2]:
data_beers = pd.read_csv('beers.csv')
data_brew = pd.read_csv('breweries.csv')

In [28]:
data_brew

     Unnamed: 0                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

### 3) União das duas bases de dados

In [3]:
##### Padronizar a coluna brewery_id em breweries.csv
data_brew.columns = ['brewery_id', 'name', 'city', 'state']

In [4]:
##### Cria um único DataFrame com as duas bases
df = pd.merge(data_beers, data_brew, on=['brewery_id'])

In [34]:
df

,Unnamed: 0,abv,ibu,id,name_x,style,brewery_id,ounces,name_y,city,state
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...,...
2405,2405,0.067,45.0,928,Belgorado,Belgian IPA,424,12.0,Wynkoop Brewing Company,Denver,CO
2406,2406,0.052,NaN,807,Rail Yard Ale,American Amber / Red Ale,424,12.0,Wynkoop Brewing Company,Denver,CO
2407,2407,0.055,NaN,620,B3K Black Lager,Schwarzbier,424,12.0,Wynkoop Brewing Company,Denver,CO
2408,2408,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0,Wynkoop Brewing Company,Denver,CO
2409,2409,0.052,NaN,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0,Wynkoop Brewing Company,Denver,CO

# Responder as seguintes questões:

### i) Qual o estado que produz mais cervejas ?

### ii) Qual o tipo (style) mais produzida nos EUA ?

### iii) Qual a fabricante (Brewery) que tem maior diversidade de tipos de cervejas?

### iv) Verificar os valores exclusivos (unique seguido de count_values()) para o tipo de cerveja (style)

### v) Quais a cervejas produzidas em Denver (CO)?